@font-face {
    font-family: 'bebasregular';
    src: url('fonts/BEBAS___-webfont.eot');
    src: url('fonts/BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BEBAS___-webfont.woff2') format('woff2'),
         url('fonts/BEBAS___-webfont.woff') format('woff'),
         url('fonts/BEBAS___-webfont.ttf') format('truetype'),
         url('fonts/BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/OpenSans-Regular-webfont.eot');
    src: url('fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  height: 100%;
}

body{
  background: #010101;
  font-family: 'open_sansregular';
  background: url(../img/fondo_body.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}
.top {
    padding: 10px 0px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #1d1c1c;
    background: rgba(0, 0, 0, 0.3);
}
header {
  text-align: center;
}

.app_container {
    margin: auto;
    width: 100%;
    height: 100%;
}

.content-radio {
  padding: 10% 18%;
}
.cp-container {
    margin: auto;
}
.titre-radio{
  color: #FFF;
  padding: 10px 0px;
  font-size:37px;
  font-family: 'bebasregular';
  text-align: center;
}
.titre-radio span{
  color: #fc672f;
}
.text-radio{
  text-align: center;
  color: #FFF;
  font-weight: bold;
}
footer{
  background: rgba(0, 0, 0, 0.3);
  border-top: 1px solid #1d1c1c;
  padding: 10px 0px;
  margin-top: 30px;
  color: #FFF;
  font-size: 10px;
  width: 100%;
  text-align: center;
  bottom: 0;
  position: fixed;
}
